.toolbar{
    width: 200px;
    height: 400px;
    position: absolute;
    right: 50px;
    top: 50px;
    
}

.toolbar .section {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #aaa;
    margin-bottom: 10px;
}

.toolbar .section b {
    display: block;
}

.control-group input{
    float: right;
    width: 120px;
}

.control-group .inspector-row{
    display: block;
    overflow: auto;
}

.control-group .inspector-row label {
    float:left;
}
